@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  box-sizing: border-box;
  /* object-fit: contain; */
  object-fit: scale-down;
  margin: 0;
  font-family: 'Open Sans';
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
}