@import url(./reset.css);

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  /* min-width: min-content; */
  min-height: 459px;
  max-width: 100%;
  background-image: url('../images/header_background.png');
  background-size: cover;
  border-radius: 2px;
  gap: 2rem;
}

header h1 {
  max-width: 50%;
  font-family: 'Luckiest Guy';
  color: #FFFFFF;
  font-weight: 400;
  align-self: start;
}

header .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  a {
    padding: 0.5rem;
  }
}

.links a{
  font-size: 22px;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  padding: 1rem 2rem;
  min-height: 54px;
  min-width: 100%;
  max-width: 280px;
  @media (min-width: 700px) {
    min-width: max-content;
  }
}

.links #app_download {
  background-color: #FFFFFF;
  color: #23272A;
}

.links #app_web {
  background-color: #23272A;
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* min-width: min-content; */
  max-width: 100%;
  gap: 40px;
}

main > :nth-child(even) {
  background-color: #F6F6F6;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

main section div {
  justify-items: center;
}

footer {
  padding: 20px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: center;
  background-color: black;
}